.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
.dir_bash_history
results/
logs/
mastersheets/
null/
results*
test_output/
test_results/
test_logs/
test_mastersheets/
test_null/
test_results*
