// RIS default nextflow.config
process {
    executor = "slurm"
    queue    = "general"       // 28 days runlimit (default) 
    //queue    = "general-short" // 30 minutes runlimit
}
executor {
    queueSize       = 50
    submitRateLimit = '1/1sec'
}
apptainer {
    autoMounts = true
    // set to a temporary location you control
    // this location MUST already exist
    //cacheDir   = "/storage2/fs1/${USER}/Active/apptainer/cache"               // common user specific storage2 allotment
    //cacheDir   = "/scratch2/fs1/ris/${USER}/Active/apptainer/cache"           // RIS Only shared scratch2
    //cacheDir   = "/scratch2/fs1/<GROUP_OR_PI>/<WASHU_KEY>/apptainer/cache"    // common user specific scratch2 path template
    cacheDir   = ""                                                             // Add or replace with your own here!!
    enabled    = true

}

